<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BerryManagementApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IBM_Security_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Library_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Employee_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Template_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Operation_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_RS_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Produce_Service" closeTimeout="01:50:00"
            openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
          <binding name="BasicHttpBinding_IBM_Structure_Service"
           openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
            maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxDepth="2147483646" maxStringContentLength="2147483646"
              maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          </binding>
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Security_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Security_Service"
                contract="BM_Security_ServiceReference.IBM_Security_Service"
                name="BasicHttpBinding_IBM_Security_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Library_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Library_Service"
                contract="BM_Library_ServiceReference.IBM_Library_Service"
                name="BasicHttpBinding_IBM_Library_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Employee_Service"
                contract="BM_Employee_ServiceReference.IBM_Employee_Service"
                name="BasicHttpBinding_IBM_Employee_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Template_Service"
                contract="BM_Template_ServiceReference.IBM_Template_Service"
                name="BasicHttpBinding_IBM_Template_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Operation_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Operation_Service"
                contract="BM_Operation_ServiceReference.IBM_Operation_Service"
                name="BasicHttpBinding_IBM_Operation_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_RS_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_RS_Service"
                contract="BM_RS_ServiceReference.IBM_RS_Service" 
                      name="BasicHttpBinding_IBM_RS_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Produce_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Produce_Service"
                contract="BM_Produce_ServiceReference.IBM_Produce_Service"
                name="BasicHttpBinding_IBM_Produce_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Structure_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Structure_Service"
                contract="BM_Structure_ServiceReference.IBM_Structure_Service"
                name="BasicHttpBinding_IBM_Structure_Service" />
        </client>
      <!--<client>
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Security_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Security_Service"
          contract="BM_Security_ServiceReference.IBM_Security_Service"
          name="BasicHttpBinding_IBM_Security_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Library_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Library_Service"
          contract="BM_Library_ServiceReference.IBM_Library_Service" name="BasicHttpBinding_IBM_Library_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Employee_Service"
          contract="BM_Employee_ServiceReference.IBM_Employee_Service"
          name="BasicHttpBinding_IBM_Employee_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Structure_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Structure_Service"
          contract="BM_Structure_ServiceReference.IBM_Structure_Service"
          name="BasicHttpBinding_IBM_Structure_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Template_Service"
          contract="BM_Template_ServiceReference.IBM_Template_Service"
          name="BasicHttpBinding_IBM_Template_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Operation_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Operation_Service"
          contract="BM_Operation_ServiceReference.IBM_Operation_Service"
          name="BasicHttpBinding_IBM_Operation_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_RS_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_RS_Service"
          contract="BM_RS_ServiceReference.IBM_RS_Service" 
          name="BasicHttpBinding_IBM_RS_Service" />
        <endpoint address="http://217.11.166.69:49000/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Produce_Service/"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Produce_Service"
          contract="BM_Produce_ServiceReference.IBM_Produce_Service" 
          name="BasicHttpBinding_IBM_Produce_Service" />
      </client>-->

    </system.serviceModel>
    <userSettings>
        <BerryManagementApplication.Properties.Settings>
            <setting name="RowLabelTemplate" serializeAs="String">
                <value>
                  ^XA
                  ^FT 215,70,0^A0N,45,45
                  ^FDBarcode^FS
                  ^FX Third section with barcode.
                  ^BY 2,260,130,
                  ^FO 218,80^BC
                  ^FDBarcode^FS
                  ^XZ
                </value>
            </setting>
            <setting name="ContainerLabelTemplate" serializeAs="String">
                <value>
                  ^XA
                  ^FT 235,70,0^A0N,45,45
                  ^FDBarcode^FS
                  ^FX Third section with barcode.
                  ^BY 2,260,130,
                  ^FO 218,80^BC
                  ^FDBarcode^FS
                  ^XZ
                </value>
            </setting>
            <setting name="CarLabelTemplate" serializeAs="String">
                <value>
                  ^XA
                  ^FT 245,70,0^A0N,45,45
                  ^FDPholder1^FS
                  ^FT 225,105,0^A0N,45,45
                  ^FDBarcode^FS
                  ^FX Third section with barcode.
                  ^BY 2,260,150,
                  ^FO 215,110^BC
                  ^FDBarcode^FS
                  ^XZ
                </value>
            </setting>
        </BerryManagementApplication.Properties.Settings>
    </userSettings>
</configuration>