<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BerryPackagingApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BerryPackagingApplication.Properties.Settings.Setting"
            connectionString="Data Source=D:\Projects\BerryManagementSolution.v1.0\BerryPackagingApplication\bin\Debug\ContainersDB.sdf"
            providerName="System.Data.SqlServerCe.4.0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBM_Operation_Service" />
                <binding name="BasicHttpBinding_IBM_Library_Service" />
                <binding name="BasicHttpBinding_IBM_Security_Service" />
            </basicHttpBinding>
        </bindings>
        <client>
             <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Operation_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Operation_Service"
                contract="BM_Operarion_ServiceRefernce.IBM_Operation_Service"
                name="BasicHttpBinding_IBM_Operation_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Library_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Library_Service"
                contract="BM_Library_ServiceReference.IBM_Library_Service"
                name="BasicHttpBinding_IBM_Library_Service" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Security_Service/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBM_Security_Service"
                contract="BM_Security_ServiceReference.IBM_Security_Service"
                name="BasicHttpBinding_IBM_Security_Service" />
        </client>
    </system.serviceModel>
    <userSettings>
        <BerryPackagingApplication.Properties.Settings>
            <setting name="DataBaseName" serializeAs="String">
                <value>ContainersDB.sdf</value>
            </setting>
            <setting name="UseByDays" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DefaultPrinterName" serializeAs="String">
                <value />
            </setting>
            <setting name="ZPL" serializeAs="String">
                <value>
                  ^XA
                  ^FX LEFT SIDE
                  ^FT10,24,0^A0N,22,22
                  ^FDFRESH BLUEBERRY - Variety ^FS
                  ^FT10,43,0^A0N,20,25
                  ^FDWeight Net ^FS
                  ^FT10,62,0^A0N,20,25
                  ^FDWeight Gross ^FS
                  ^FT10,81,0^A0N,20,25
                  ^FDHarvest^FS
                  ^FT10,100,0^A0N,20,25
                  ^FDPacking^FS
                  ^FT10,119,0^A0N,20,25
                  ^FDUse by^FS
                  ^FT10,137,0^A0N,20,25
                  ^FDStorage conditions: store in a cool,  ^FS
                  ^FT10,158,0^A0N,22,25
                  ^FDhygienic and dry place^FS
                  ^FT10,179,0^A0N,20,25
                  ^FDCountry of origin^FS
                  ^FX RIGHT SIDE
                  ^FT440,24,1^A0N,20,25
                  ^FDPholder5 ^FS
                  ^FT440,43,1^A0N,20,25
                  ^FDPholder3 kgs ^FS
                  ^FT435,62,1^A0N,20,25
                  ^FDPholder4 kgs^FS
                  ^FT435,81,1^A0N,20,25
                  ^FDPholder1^FS
                  ^FT435,100,1^A0N,20,25
                  ^FDPholder2^FS
                  ^FT435,119,1^A0N,20,25
                  ^FDPholder6^FS
                  ^FT355,179,0^A0N,20,25
                  ^FDGeorgia^FS
                  ^FX Third section with barcode.
                  ^BY 2,60,45,
                  ^FO35,185^BC^FDBarcode^FS
                  ^XZ
                </value>
            </setting>
            <setting name="PalleteZpl" serializeAs="String">
                <value />
            </setting>
        </BerryPackagingApplication.Properties.Settings>
    </userSettings>
</configuration>