<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ServiceName" value="BerryManagementService" />
    <add key="ServiceDescription" value="ltd 'Theta' Berry Management service. v 1.0." />
  </appSettings>
  <!--<connectionStrings>
   <add name="BerryManagementEntities" connectionString="metadata=res://*/Data.BerryManagementModel.csdl|res://*/Data.BerryManagementModel.ssdl|res://*/Data.BerryManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.11.166.69;initial catalog=BerryManagement_D;persist security info=True;user id=BM_D_User;password=BM_D_User@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BerryManagementEntities" connectionString="metadata=res://*/Data.BerryManagementModel.csdl|res://*/Data.BerryManagementModel.ssdl|res://*/Data.BerryManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=213.131.34.118,14330;initial catalog=BerryManagement_R;persist security info=True;user id=BMR;password=BbMmRr123123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="BerryManagementEntities" connectionString="metadata=res://*/Data.BerryManagementModel.csdl|res://*/Data.BerryManagementModel.ssdl|res://*/Data.BerryManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.11.166.69;initial catalog=BerryManagement_D;persist security info=True;user id=BM_D_User;password=BM_D_User@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <client>
      <endpoint address="http://services.rs.ge/WayBillService/WayBillService.asmx" binding="basicHttpBinding" bindingConfiguration="WayBillsSoap" contract="WayBillServiceReference.WayBillsSoap" name="WayBillsSoap" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding maxBufferPoolSize="2147483647" transferMode="Streamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text">
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="WayBillsSoap" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="BerryManagementWindowsService.WCF.BM_Employee_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Employee_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Employee_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Library_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Library_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Library_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Operation_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Operation_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Operation_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Security_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Security_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Security_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Structure_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Structure_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Structure_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Template_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Template_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Template_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_Produce_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_Produce_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_Produce_Service/" />
          </baseAddresses>
        </host>
      </service>
      <service name="BerryManagementWindowsService.WCF.BM_RS_Service">
        <endpoint address="" binding="basicHttpBinding" contract="BerryManagementWindowsService.WCF.IBM_RS_Service">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BerryManagementWindowsService.WCF/BM_RS_Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <connectionStrings>
    <add name="BerryManagementEntities" connectionString="metadata=res://*/Data.BerryManagementModel.csdl|res://*/Data.BerryManagementModel.ssdl|res://*/Data.BerryManagementModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=217.11.166.69;initial catalog=BerryManagement_D;persist security info=True;user id=BM_D_User;password=BM_D_User@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>