<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <startup>
       <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
   </startup>
   <system.serviceModel>
       <bindings>
           <basicHttpBinding>
               <binding name="WayBillsSoap">
                   <security mode="Transport" />
               </binding>
               <binding name="WayBillsSoap1" />
           </basicHttpBinding>
       </bindings>
       <client>
           <endpoint address="https://services.rs.ge/WayBillService/WayBillService.asmx"
                binding="basicHttpBinding" bindingConfiguration="WayBillsSoap"
                contract="WayBillServiceReference.WayBillsSoap" name="WayBillsSoap" />
       </client>
   </system.serviceModel>
</configuration>